@keyframes zoomHover {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.02);
  }
}
@keyframes filterColor {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.01);
    background-color: #f3F8ff;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  width: 1440px;
  margin: auto;
}

body {
  box-sizing: border-box;
  font-size: 1.7rem;
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

h2 {
  font-size: 3rem;
  font-weight: bolder;
}

h3 {
  font-size: 2.3rem;
}

h4 {
  font-weight: bold;
  font-size: 1.8rem;
}

footer {
  background-color: #f2f2f2;
}

@font-face {
  font-family: "raleway";
  src: url("../font/Raleway/Raleway-VariableFont_wght.ttf");
}
html {
  font-family: "raleway", Arial, Helvetica, sans-serif;
}

button {
  border: none;
}

.moreHosting {
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}

header {
  margin-bottom: 30px;
}

.searchHosting {
  margin-bottom: 30px;
}
.searchHosting .subtitle {
  margin-bottom: 30px;
}
.searchHosting .subtitle h2 {
  margin-bottom: 5px;
}

.searchHosting__form {
  margin-bottom: 30px;
}

.information {
  margin-top: 30px;
}

section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 30px;
}
section article {
  padding: 35px;
  background-color: #f2f2f2;
  border-radius: 1.3rem;
  width: 950px;
}
section article h3 {
  margin-bottom: 30px;
}
section article .hosting {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 30px;
}
section aside {
  padding: 35px;
  background-color: #f2f2f2;
  border-radius: 1.3rem;
}
section aside .titlePopular {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px 30px 10px;
}
section aside .titlePopular img {
  height: 18px;
}
section aside .hostingPopular {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.activityTitle {
  margin-bottom: 30px;
}

.activity {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 295px;
  grid-gap: 30px;
  margin-bottom: 60px;
}
.activity_1 {
  grid-column: 1;
}
.activity_2 {
  grid-column: 2;
  grid-row: 1;
}
.activity_3 {
  grid-column: 2;
  grid-row: 2;
}
.activity_4 {
  grid-column: 3;
}
.activity_5 {
  grid-column: 4;
  grid-row: 1;
}
.activity_6 {
  grid-column: 4;
  grid-row: 2;
}

footer {
  display: flex;
  justify-content: space-around;
  padding: 40px 0px 40px 0px;
  line-height: 40px;
}
footer li a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.searchHosting__form {
  display: flex;
  align-items: center;
  width: 300px;
  height: 51px;
  border-top-left-radius: 1.8rem;
  border-bottom-left-radius: 1.8rem;
  background: #f2f2f2;
  padding: 17px;
  font-weight: bold;
}
.searchHosting__form input {
  border: 0.1rem solid #f2f2f2;
  font-size: 1.7rem;
  padding: 17px;
  outline: none;
}
.searchHosting__form img {
  width: 25px;
  margin-right: 10px;
}
.searchHosting label a {
  border-top-right-radius: 1.8rem;
  border-bottom-right-radius: 1.8rem;
  background-color: #0165FC;
  color: white;
  margin-right: 10px;
  padding: 16px;
}

.filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 30px;
}
.filter__button {
  border: 0.19rem solid #bfbfbf;
  border-radius: 3rem;
  display: flex;
  cursor: pointer;
}
.filter__button:hover {
  animation: filterColor 250ms forwards;
}
.filter__button img {
  width: 55px;
}
.filter__button a {
  padding: 16px;
  font-weight: bold;
}
.filter__button a::first-letter {
  text-transform: uppercase;
}

.information {
  display: flex;
  align-items: center;
}
.information img {
  margin-right: 15px;
}

.hostingBox {
  width: fit-content;
  height: fit-content;
  background-color: white;
  border-radius: 1.8rem;
  box-shadow: 0rem 0rem 0.8rem #b3b3b3;
  padding: 0.6rem;
}
.hostingBox:hover {
  animation: zoomHover 200ms forwards;
}
.hostingBox__layout {
  display: flex;
  flex-direction: column;
}
.hostingBox__hostelImage img {
  object-fit: cover;
  width: 260px;
  height: 126px;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.hostingBox__description {
  margin-left: 15px;
}
.hostingBox__description--name {
  font-size: 1.8rem;
  font-weight: bolder;
}
.hostingBox__description--price {
  margin: 4px 0px 4px 0px;
  font-size: 1.7rem;
  font-weight: lighter;
}
.hostingBox__description--price span {
  font-weight: bold;
}
.hostingBox__description--rate {
  display: flex;
}

.popularBox {
  width: 380px;
  height: fit-content;
  background-color: white;
  border-radius: 1.8rem;
  box-shadow: 0rem 0rem 0.8rem #b3b3b3;
  padding: 0.6rem;
}
.popularBox:hover {
  animation: zoomHover 200ms forwards;
}
.popularBox__layout {
  display: flex;
}
.popularBox__hostelImage img {
  object-fit: cover;
  width: 114px;
  height: 120px;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.popularBox__description--layout {
  margin-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.popularBox__description--name {
  font-size: 1.8rem;
  font-weight: bolder;
}
.popularBox__description--price {
  margin-top: 4px;
  font-size: 1.7rem;
  font-weight: lighter;
}
.popularBox__description--price span {
  font-weight: bold;
}
.popularBox__description--rate {
  display: flex;
}

.activityBoxBig {
  width: 335px;
  height: fit-content;
  background-color: white;
  border-radius: 1.8rem;
  box-shadow: 0rem 0rem 0.8rem #b3b3b3;
}
.activityBoxBig:hover {
  animation: zoomHover 200ms forwards;
}
.activityBoxBig__Image img {
  width: 335px;
  height: 490px;
  object-fit: cover;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.activityBoxBig__description {
  margin-left: 15px;
  padding: 15px 0px 15px 0px;
  font-size: 1.8rem;
  font-weight: bolder;
}

.activityBoxMiddle {
  width: 335px;
  height: fit-content;
  background-color: white;
  border-radius: 1.8rem;
  box-shadow: 0rem 0rem 0.8rem #b3b3b3;
}
.activityBoxMiddle:hover {
  animation: zoomHover 200ms forwards;
}
.activityBoxMiddle__Image img {
  width: 335px;
  height: 230px;
  object-fit: cover;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.activityBoxMiddle__description {
  margin-left: 15px;
  padding: 15px 0px 15px 0px;
  font-size: 1.8rem;
  font-weight: bolder;
}

.activityBoxSmall {
  width: 335px;
  height: fit-content;
  background-color: white;
  border-radius: 1.8rem;
  box-shadow: 0rem 0rem 0.8rem #b3b3b3;
}
.activityBoxSmall:hover {
  animation: zoomHover 200ms forwards;
}
.activityBoxSmall__Image img {
  width: 335px;
  height: 165px;
  object-fit: cover;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.activityBoxSmall__description {
  margin-left: 15px;
  padding: 15px 0px 15px 0px;
  font-size: 1.8rem;
  font-weight: bolder;
}
.activityBoxSmall__description::first-letter {
  text-transform: uppercase;
}

header {
  display: flex;
  justify-content: space-between;
  font-size: 1.7rem;
  margin-bottom: 35px;
}
header img {
  width: 35%;
}
header ul {
  display: flex;
}
header a {
  padding: 0px 30px 0px 30px;
}
header a:visited {
  color: #0165FC;
  border-top: 0.3rem solid #0165FC;
  padding-top: 31px;
}
header a:hover {
  color: #0165FC;
  border-top: 0.3rem solid #0165FC;
  padding-top: 27px;
}

/*# sourceMappingURL=style.css.map */
