@keyframes zoomHover {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.02);
  }
}
@keyframes filterColor {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.01);
    background-color: #f3f8ff;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  width: 1800px;
  margin: auto;
}

body {
  box-sizing: border-box;
  font-size: 1.7rem;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

h2 {
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 5px;
}

h3 {
  font-size: 2.3rem;
}

h4 {
  font-weight: bold;
  font-size: 1.8rem;
}

footer {
  background-color: #f2f2f2;
}

@font-face {
  font-family: "raleway";
  src: url("../font/Raleway/Raleway-VariableFont_wght.ttf");
}
html {
  font-family: "raleway", Arial, Helvetica, sans-serif;
}

.searchHosting__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin: 20px 0px 20px 0px;
  padding: 17px;
  width: 300px;
  height: 51px;
  border-top-left-radius: 1.8rem;
  border-bottom-left-radius: 1.8rem;
  background: #f2f2f2;
}
.searchHosting__form input {
  padding: 17px;
  border: 0.1rem solid #f2f2f2;
}
.searchHosting__form input::placeholder {
  font-size: 1.7rem;
}
.searchHosting__form img {
  width: 25px;
  margin-right: 10px;
}
.searchHosting label a {
  background-color: #0165FC;
  color: white;
  margin-right: 10px;
  padding: 16px;
  border-top-right-radius: 1.8rem;
  border-bottom-right-radius: 1.8rem;
}

.hostingBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  height: 210px;
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: 0rem 0rem 0.8rem #b3b3b3;
}
.hostingBox:hover {
  animation: zoomHover 200ms forwards;
}
.hostingBox img {
  object-fit: cover;
  width: 260px;
  height: 126px;
  padding: 0.7rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.hostingBox__description {
  margin-left: 15px;
}
.hostingBox__description--name {
  font-size: 1.8rem;
  font-weight: bolder;
}
.hostingBox__description--price {
  margin: 0.6rem 0rem 0.6rem 0rem;
  font-size: 1.7rem;
  font-weight: lighter;
}
.hostingBox__description--price span {
  font-weight: bold;
}

.hosting {
  margin: 1.5rem 0rem 1.5rem 0rem;
  padding: 1.3rem;
  background-color: #f2f2f2;
  border-radius: 1.3rem;
}

.hostingPopular {
  margin: 1.5rem 0rem 1.5rem 0rem;
  padding: 1.3rem;
  background-color: #f2f2f2;
  border-radius: 1.3rem;
}

.filter {
  display: flex;
  align-items: center;
  margin: 30px 0px 25px 0px;
}
.filter__button {
  margin-left: 30px;
  display: flex;
  cursor: pointer;
  border: 0.19rem solid #bfbfbf;
  border-radius: 3rem;
}
.filter__button:hover {
  animation: filterColor 250ms forwards;
}
.filter__button img {
  width: 55px;
}
.filter__button a {
  padding: 17px;
  font-weight: bold;
  text-transform: capitalize;
}

header {
  display: flex;
  justify-content: space-between;
  font-size: 1.7rem;
  margin-bottom: 35px;
}

header img {
  width: 35%;
  margin-top: 25px;
}

header ul {
  display: flex;
  margin-top: 35px;
}

header a {
  padding: 0px 30px 0px 30px;
}
header a:visited {
  color: #0165FC;
  border-top: 0.3rem solid #0165FC;
  padding-top: 31px;
}
header a:hover {
  color: #0165FC;
  border-top: 0.3rem solid #0165FC;
  padding-top: 33px;
}

/*# sourceMappingURL=style.css.map */
