*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {
    // 10px div by def of 16px
    font-size: 62.5%;
    width: 1440px; //Définit la taille de base de la page
    margin: auto;
    @include laptopL {
        width: 100%;
        margin: auto;
    }
}

body {
    box-sizing: border-box;
    font-size: 1.7rem;
    margin-top: 30px;
    @include laptopL {
        margin: 30px 30px 0px 30px;
    }
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}


h2 {
    font-size: min(3.5vw, 30px);
    font-weight: bolder;
}

h3 {
    font-size: 2.3rem;
}

h4 {
    font-weight: bold;
    font-size: 1.8rem;
}

footer {
    background-color: $color-secondary;
}