//Zoom sur les vignettes sur un hover
@keyframes zoomHover {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.02);
    }
}

//Changement de couleur du boutton filtre sur un hover
@keyframes filterColor {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.01);
        background-color: $color-filter;
    }
}