@keyframes zoomHover {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.02);
    }
}

@keyframes filterColor {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.01);
        background-color: $color-filter;
    }
}