@mixin hosting_bg {
    padding: 1.3rem;
    background-color: $color-secondary;
    border-radius: 1.3rem;
}

@mixin hostingBox {
    background-color: $hostingBox-bg-color;
    border-radius: 1.5rem;
    box-shadow: 0rem 0rem .8rem #b3b3b3;
    padding-bottom: 1rem;
}

@mixin hostingBox-size {
    width: $hosting-box-witdh;
    height: fit-content;
}

@mixin popularBox-size {
    width: $hosting-box-witdh;
    height: fit-content;
}
@mixin filterBox {
    border: .19rem solid darken($color-secondary, 20);
    border-radius: 3rem;
}