@mixin hosting_bg {
    margin: 1.5rem 0rem 1.5rem 0rem;
    padding: 1.3rem;
    background-color: $color-secondary;
    border-radius: 1.3rem;
}

@mixin hostingBox {
    background-color: $hostingBox-bg-color;
    border-radius: 1.5rem;
    box-shadow: 0rem 0rem .8rem #b3b3b3;
}

@mixin hostingBox-size {
    width: $hosting-box-witdh;
    height: $hosting-box-height;
}

@mixin filterBox {
    border: .17rem solid darken($color-secondary, 20);
    border-radius: 3rem;
    padding: 15px 20px 15px 55px;
}