//color
$color-primary: #0165FC;
$color-secondary: #f2f2f2;
$color-tertiary: #DDEBFF;

//hosting box
$hosting-box-witdh: 260px;
$hosting-box-height: 210px;

//hosting background
$hostingBox-bg-color: white;