//couleurs
$color-primary: #0165FC;
$color-secondary: #f2f2f2;
$color-tertiary: #DDEBFF;

$color-filter: #f3F8ff;
$hostingBox-bg-color: white;

//taille des vignettes hosting
$hosting-box-witdh: 260px;
$hosting-box-height: 210px;

//taille des vignettes popular hosting
$popular-box-witdh: 380px;
$popular-box-height: 120px;

//largeur des vignettes activité
$activity-box-witdh: 320px;

//hauteur des vignettes activité (grande, moyenne, petite)
$activity-box-height-big: 490px;
$activity-box-height-middle: 230px;
$activity-box-height-small: 165px;