.filter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 30px;
    &__button {
        @include filterBox;
        display: flex;
        cursor: pointer;
        &:hover {
            animation: filterColor 250ms forwards;
        }
        img {
            width: 55px;
        }
        a {
            padding: 16px;
            font-weight: bold;
            &::first-letter {
                text-transform: uppercase;
            }
        }
    }
}

.information {
    display: flex;
    align-items: center;
    img {
        margin-right: 15px;
    }
}

.hostingBox {
    @include hostingBox-size;
    @include hostingBox;

    display: flex;
    flex-direction: column;
    align-items: center;  

    &__hostelImage {
        img {
            object-fit: cover;
            justify-content: center;
            width: $hosting-box-witdh;
            height: $hosting-box-height*.6;
            
            padding: .7rem;
            border-top-left-radius: 1.5rem;
            border-top-right-radius: 1.5rem;
        }
    }
    &:hover {
        animation: zoomHover 200ms forwards;
    }
    &__description {
        margin-left: 15px;
        &--name {
            font-size: 1.8rem;
            font-weight: bolder;
        }
        &--price {
            margin: .6rem 0rem .6rem 0rem;
            font-size: 1.7rem;
            font-weight: lighter;
            span {
                font-weight: bold;
            }
        }
        &--rate {
            display: flex;
        }
    }
}

.popularBox {
    @include hostingBox-size;
    @include hostingBox;

    display: flex;
    flex-direction: column;
    align-items: center;  

    &__hostelImage {
        img {
            object-fit: cover;
            justify-content: center;
            width: $popular-box-witdh;
            height: $popular-box-height*.6;
            
            padding: .7rem;
            border-top-left-radius: 1.5rem;
            border-top-right-radius: 1.5rem;
        }
    }
    &:hover {
        animation: zoomHover 200ms forwards;
    }
    &__description {
        margin-left: 15px;
        &--name {
            font-size: 1.8rem;
            font-weight: bolder;
        }
        &--price {
            margin: .6rem 0rem .6rem 0rem;
            font-size: 1.7rem;
            font-weight: lighter;
            span {
                font-weight: bold;
            }
        }
        &--rate {
            display: flex;
        }
    }
}
