.searchHosting {
    &__form {
        display: flex;
        align-items: center;
        font-weight: bold ;
    
        padding: 17px;
        
        width: 300px;
        height: 51px;
        
        border-top-left-radius: 1.8rem;
        border-bottom-left-radius: 1.8rem;
        background: $color-secondary;
        input{
            padding: 17px;
            border: .1rem solid $color-secondary;
            font-size: 1.7rem;
            outline: none;
        }
        img {
            width: 25px;
            margin-right: 10px;
        }
    }
    label a {
        background-color: $color-primary;
        color: white;
        margin-right: 10px;
        padding: 16px;
        border-top-right-radius: 1.8rem;
        border-bottom-right-radius: 1.8rem;
    }
}