header {
    display: flex;
    justify-content: space-between;
    font-size: 1.7rem;
    margin-bottom: 35px;
    img {
        width: 35%;
    }
    ul {
        display: flex;
    }
    a {
        padding: 0px 30px 0px 30px;
        &:visited {
            color: $color-primary;
            border-top: .3rem solid $color-primary;
            padding-top: 31px;
        }
        &:hover {
            color: $color-primary;
            border-top: .3rem solid $color-primary;
            padding-top: 27px;
        }
    }
}