//AGENCEMENT DU HAUT DE PAGE
header {
    margin-bottom: 30px;
}

.searchHosting {
    margin-bottom: 30px;
    .subtitle {
        margin-bottom: 30px;
        h2 {
            margin-bottom: 5px;
        }
    }
}

.searchHosting__form {
    margin-bottom: 30px;
}

.information {
    margin-top: 30px;
} 

//AGENCEMENT DE LA SECTION
section {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 30px; //espace entre les vignettes
    article {
        @include section_bg;
        width: 950px; //taille assigner à l'article
        h3 {
            margin-bottom: 30px;
        }
        .hosting {
            display: flex;
            flex-wrap: wrap;
            gap: 30px 30px;
        }
        
    }
    aside { 
        @include section_bg;
        .titlePopular {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0px 10px 30px 10px;
            img {
                height: 18px;
            }
        }
        .hostingPopular {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }
    }
}