//AGENCEMENT DU HAUT DE PAGE
header {
    margin-bottom: 30px;
}

.searchHosting {
    margin-bottom: 30px;
    .subtitle {
        margin-bottom: 30px;
        h2 {
            margin-bottom: 5px;
        }
    }
}

.searchHosting__form {
    margin-bottom: 30px;
}

.information {
    margin-top: 30px;
} 

//AGENCEMENT DE LA SECTION
section {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 30px; //espace entre les vignettes
    margin-bottom: 30px;
    article {
        @include section_bg;
        width: 950px; //taille assigner à l'article
        @include laptopL {
            justify-content: center;
            margin: auto;
        }
        h3 {
            margin-bottom: 30px;
        }
        .hosting {
            display: flex;
            flex-wrap: wrap;
            gap: 30px 30px;
            @include tablet {
                justify-content: center;
            }
        }
        .more {
            padding-top: 30px;
            a {
                font-weight: bold;
            }  
        }
    }
    aside { 
        @include section_bg;
        @include laptopL {
            justify-content: center;
            margin: auto;
        }
        .titlePopular {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0px 10px 30px 10px;
            img {
                height: 18px;
            }
        }
        .hostingPopular {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 30px;
            @include laptopL {
                justify-content: center;
                flex-direction: row;
                max-width: 870px;
            }
        }
    }
}
.activityTitle {
    margin-bottom: 30px;
    @include laptopL {
        text-align: center;
    }
}

.activity {
    display: grid; //les vignettes activité sont placées avec la méthodes grid
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 295px;
    grid-gap: 30px;
    @include laptopL {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        margin-bottom: 30px;
    }
    
    margin-bottom: 60px;
    &_1 {
        grid-column: 1;
    }
    &_2 {
        grid-column: 2;
        grid-row: 1;
    }
    &_3 {
        grid-column: 2;
        grid-row: 2;
    }
    &_4 {
        grid-column: 3;
    }
    &_5 {
        grid-column: 4;
        grid-row: 1;
    }
    &_6 {
        grid-column: 4 ;
        grid-row: 2;
    }
}